<div class="container">
  <nav *ngIf="isAuthorized()" class="nav justify-content-around">
    <a class="btn btn-light nav-item col-5 col-md-3" [routerLink]="['/']">
      Album Overview
    </a>
    <button class="btn btn-light nav-item col-5 col-md-3" (click)="signOut()">
      <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>Sign out
    </button>
  </nav>
  <div class="pages">

    <router-outlet></router-outlet>
  </div>
  <ngx-spinner></ngx-spinner>
</div>