.card {
    margin-bottom: 20px;
}

.img {
    object-fit: cover;
    height: 200px;
}

fa-icon {
    margin-right: 5px;
}

.btn {
    margin-right: 6px;
}

.card-title{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}