<div class="card">
  <img class="img card-img-top" [src]="content.src? content.src : 'assets/images/image_placeholder.png'">
  <div class="card-body">
    <h5 class="card-title">{{ content.title }}</h5>
    <div *ngIf="showResults; else showActionButtons" class="row">
      <div class="col-3 text-center">
        <fa-icon [icon]="['far', 'frown']"></fa-icon> {{dislikes}}
      </div>
      <div class="col-3 text-center">
        <fa-icon [icon]="['far', 'meh']"></fa-icon> {{nutral}}
      </div>
      <div class="col-3 text-center">
        <fa-icon [icon]="['far', 'smile']"></fa-icon> {{likes}}
      </div>
      <div class="col-3 text-center">
        <fa-icon [icon]="['far', 'grin-hearts']"></fa-icon> {{loves}}
      </div>
    </div>

    <ng-template #showActionButtons>
      <a class="btn btn-info" [routerLink]="['/rate', content.id]">
        <fa-icon [icon]="['fas', 'star']"></fa-icon>Rate
      </a>
      <a class="btn btn-light" [routerLink]="['/results', content.id]">
        <fa-icon [icon]="['fas', 'poll']"></fa-icon>Results
      </a>
    </ng-template>
  </div>


</div>