.picture {
    background-color: white;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 100px;
    height: 500px;
    max-height: 70vh;
    margin-bottom: 20px;
}

.btn-vote {
    font-size: 40px;
    height: 65px;
    width: 65px;
    line-height: 1;
}

.done {
    width: 100%;
    color: white;
    text-align: center;
}

.done-icon {
    font-size: 80px;
}

.btn {
    margin: 4px;
}