<div *ngIf="!picturesLoaded || index < pictures.length; else doneVoting" class="row">
    <div class="col-12">
        <div class="picture" *ngIf="shownPicture" [style.background-image]="'url(' + shownPicture.src + ')'"></div>
        <div class="row">
            <div class="col-3 text-center">
                <button (click)="addVote(0)" class="btn btn-light btn-vote">
                    <fa-icon [icon]="['far', 'frown']"></fa-icon>
                </button>
            </div>
            <div class="col-3  text-center">
                <button class="btn btn-light btn-vote" (click)="addVote(1)">
                    <fa-icon [icon]="['far', 'meh']"></fa-icon>
                </button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-light btn-vote" (click)="addVote(2)">
                    <fa-icon [icon]="['far', 'smile']"></fa-icon>
                </button>
            </div>
            <div class="col-3 text-center">
                <button class="btn btn-light btn-vote" (click)="addVote(3)">
                    <fa-icon [icon]="['far', 'grin-hearts']"></fa-icon>
                </button>
            </div>
        </div>
    </div>

</div>
<ng-template #doneVoting>
    <div class="done">
        <div class="done-icon">
            <fa-icon [icon]="['far', 'smile']"></fa-icon>
        </div>
        <h1>You are done voting</h1>
        <a class="btn btn-light" [routerLink]="['/']">Back to album overview</a>
        <a class="btn btn-light" [routerLink]="['/results', albumId]">Go to results</a>
    </div>
</ng-template>