
  <div class="login row justify-content-center">

    <div class="title col-12 col-md-5 ">
      <h1>Please log in with your google account</h1>
    </div>

    <div class="alert alert-danger row justify-content-center " role="alert" *ngIf="!authorized"> <span
        class="col-md-5">You are not authorized to sign in. Please sign in
        with another account</span></div>

    <div class="col-12 row justify-content-center">
      <button class="btn btn-light col-12 col-md-3" (click)="login()">
        <fa-icon [icon]="['fab', 'google']"></fa-icon>
        Login
      </button>

    </div>
  </div>