/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Navilla;
  src: url(/assets/fonts/Navilla.ttf);
}

body {
  background: url("assets/images/dutchies_bg.JPG");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #333;
  height:100%;
}

html {
    min-height: 100%;
}

h1 {
  font-family: Navilla;
}

.btn {
  border-radius: 20em !important;
}
